*{
    margin: 0px;
    padding: 0px;
}
.nave-section{
    display: flex;
    justify-content: space-between;
    margin: 60px 200px;
}
.nave-section ul{
    display: flex;
    gap: 30px;
}
.nave-section li{
    list-style: none;
}
ul a{
    text-decoration: none;
}
.influencer-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.influencer{
   margin: 200px 120px 16px 100px;
    justify-content: center;
    align-items: center;
}
.influencer h2{
    font-size: 52px;
    font-style: bold;
    font-weight: 582px;
    height: 100px;
}
.influencer p{
    font-size: 16px;
    margin-top: 30px;
}
.influencer button{
    width: 196px;
    height: 44px;
    border-radius: 10px;
    border: none;
    background-color: rgba(224, 44, 109, 1);
    margin: 16px 519px 70px 0px;
    color: white;
    margin-top: 30px;
}
.main-camera{
  margin-left: -50px;
  margin-top: 50px;
    background-repeat: no-repeat;
}
.images{
    background-image: url('/images/Circle\ design.svg');
    background-repeat: no-repeat;
}
.logo-section{
    padding: 72px 193px 120px 137px;
    
    
}
.logo{
 display: grid;
    grid-template-columns: repeat(7, .1fr);
    justify-content: center;
}
.Collection-section-2{
    background-color: #F1F1F1;
    margin: 97px 197px 100px 197px;
    margin-top: 50px;
}
.Collection-section{
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    gap: 30px;
}
.Collection-section-2 h2{
    text-align: center;
}
.Collection-box{
    width: 329px;height: 447px;
background-color:white;
    box-shadow: 8px 8px 8px 8px gray;
}
.box{
    padding: 15px;
    border-radius: 8px;
}
.box h3{
    font-size: 28px;
}
.Featured-products{
    display: flex;
}
@media screen and (max-width: 576px) {
    .Collection-section, .logo,
     .influencer-banner, .nave-section{
        grid-template-columns: repeat(1, .1fr);
    }
}